* {
	padding: 0;
	margin: 0;
}
body {
	font-size:100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #7797AE;
}

#container {
	margin: 0 auto;
	width: 62%; 
}
header {
	color: #333;
	width: 100%;
	padding: .625% 0% 0% 6.25%;
	float: left;
    height: 100px; 
	margin: 1.25% 0% 0% 0%; 
    background: #E7DBD5 url(../img/header_800x122.jpg) no-repeat top center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
 	float: left;
	width: 100%; 
	color: #333;
	padding: 1.25% 0% 1.25% 0%; 
	background: #BDBEC2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article {
	color: #333;
	padding: 1.25%; 
	width: 70%; 
	float: left;
    display: inline;
	background: #F2F2E6;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
aside {
	float: right;
	color: #333;
	padding: 1.25%; 
	height: 300px;
	width: 30%; 
	background: #AAA29F;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
footer {
	width: 100%; 
	max-width: 100%;
    font-weight: bold;
	text-align: center;
	clear: both;
	color: #fff;
	background: #7797AE url(../img/footer_800x128.jpg) no-repeat top center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	padding: 1.25%; 
	margin: 0% 0% 1.25% 0%;
}
ul.nav-list li {
	display: inline;
	list-style-type: none;
	margin: 1.25% 2.5% 1.25% 2.5%;
}
ul.aside-list li {
	list-style-type:circle;
	margin: 1.25% .625% 1.25% 4.375%;
}
ul.aside-list li:first-of-type {
	margin-top: 30px;
	list-style-type:circle;
}
article img.alignright{
	width: 33.3333%;
	max-width: 33.3333%;
	display:inline; 
	float: right; 
	border: 1px solid black;
	margin: 2.5% 1.8% .625% 1.8%;
}

p {
	font-size: 16px;
    font-size: 1rem;
    margin-top: 10px;
}
h1 {
	font-size: 1.875em;
}
h2{
	font-size: 1.625em;
}
h3{
	font-size: 1.125em;
}

@media only screen and (max-device-width: 750px) {
  
  #container {
	margin: 0 auto;
	width: 62%; 
    border: 1px solid green;
}
header {
	color: #333;
	width: 100%; 
	padding: .625% 0% 0% 6.25%; 
	float: left;
    height: 100px; 
	margin: 1.25% 0% 0% 0%; 
    background: #E7DBD5 url(../img/header_800x122.jpg) no-repeat top center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
	float: left;
	width: 100%;
	color: #333;
	padding: 1.25% 0% 1.25% 0%;
	background: #BDBEC2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article {
 	color: #333;
	padding: 1.25%;
	width: 70%;
    clear: left;
    border: 1px solid black;
	background: #F2F2E6;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
aside {
	clear: left;
	color: #333;
	padding: 1.25%;
	height: 300px;
	width: 30%;
	background: #AAA29F;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
	clear: both;
    width: 100%;
	max-width: 100%;
    font-weight: bold;
	text-align: center;
    border: 1px solid red;
    color: #fff;
    background: #7797AE url(../img/footer_800x128.jpg) no-repeat top center;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1.25%;
 	margin: 0% 0% 1.25% 0%;
}

}

